<div
  class="row mt-3"
  *ngIf="user"
>
  <div class="col-12">
    <form
      [formGroup]="userFormGroup"
      (ngSubmit)="onUpdate()"
      style="max-width: 400px;"
      class="mx-auto"
    >
      <div
        *ngFor="let field of fields"
        class="form-group"
      >
        <label>{{ field.label }}</label>
        <ng-container [ngSwitch]="field.type">
          <select
            *ngSwitchCase="'select'"
            [formControlName]="field.key"
            [name]="field.key"
            class="form-control"
          >
            <option
              *ngFor="let opt of field.options"
              [value]="opt.value"
            > {{ opt.text }} </option>
          </select>
          <textarea
            *ngSwitchCase="'textarea'"
            [formControlName]="field.key"
            [name]="field.key"
            class="form-control"
          ></textarea>
          <input
            *ngSwitchDefault
            [formControlName]="field.key"
            [name]="field.key"
            [type]="field.type || 'text'"
            class="form-control"
          >
        </ng-container>
        <div
          *ngIf="userFormGroup.controls[field.key].invalid"
          class="error-message"
        > Username must be minimum 5 characters long! </div>
      </div>
      <div class="d-grid gap-2 mt-3">
        <button
          [disabled]="userFormGroup.invalid"
          class="btn btn-primary"
          type="submit"
        >
          <i class="fa fa-save"></i> update user </button>
      </div>
    </form>
  </div>
</div>
