<!-- Interpolation. {{  }}, component -> template -->
<p>{{ title }}</p>
<p>Time: <strong>{{ currentTime }}</strong></p>
<p>
  <!-- Property binding. [], component -> template -->
  <!-- Event binding. (), template -> component -->
  <button (click)="clickHandler()" [disabled]="disabled">Hello, this is a button!</button>
</p>

<!-- Tow-way data binding. [()], component <-> template -->
<form>
  <div>
    <label for="">ID: </label>
    <input name="id" [(ngModel)]="user.id" type="number">
  </div>
  <div>
    <label for="">Name: </label>
    <input name="name" [(ngModel)]="user.name" type="text">
  </div>
  <div>
    <label for="">Email: </label>
    <input name="email" [(ngModel)]="user.email" type="text">
  </div>
</form>

<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>
<pre>
  {{ user | json }}
</pre>

