table {
    th {
        user-select: none;
        cursor: pointer;

        &:hover {
            background-color: aqua;
        }
    }

    .table__tr--sum {
        background-color: rgb(200, 200, 200);
    }
}