<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.title }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of userList$ | async | filter:(phrase$ | async)">
          <td *ngFor="let col of columns">
            {{ row[col.key] }}
          </td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['/user/edit', row.id]" class="btn btn-info">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
