<div class="row my-3">
  <div class="col-12">
    <div class="btn-group">
      <button
        (click)="viewType = 'table'"
        [ngClass]="{'btn-toggled': viewType === 'table'}"
        class="btn btn-outline-secondary"
      >
        <i class="fa fa-table"></i>
      </button>
      <button
        (click)="viewType = 'card'"
        [ngClass]="{'btn-toggled': viewType === 'card'}"
        class="btn btn-outline-secondary"
      >
        <i class="fa fa-id-card-o"></i>
      </button>
    </div>
  </div>
</div>


<div
  *ngIf="userList$ | async | filter:(phrase$ | async) | paginate: { itemsPerPage: 10, currentPage: page } as userList"
  class="row"
>
  <div
    *ngIf="viewType === 'table'; else cardView"
    class="col-12"
  >
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let col of columns"> {{ col.title }} </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of userList">
          <td *ngFor="let col of columns"> {{ row[col.key] }} </td>
          <td>
            <div class="btn-group">
              <button
                [routerLink]="['/user/edit', row.id]"
                class="btn btn-info"
              >
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #cardView>
    <div
      *ngFor="let user of userList"
      class="col-12 col-md-4 col-xl-3 mb-3"
    >
      <app-user-card
        [classes]="'w-95'"
        [user]="user"
        (onSelect)="onEdit($event)"
      ></app-user-card>
    </div>
  </ng-template>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
